body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150vh;
}

a {
  color:mediumpurple;
}

.wrapper {
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
}

.title {
  text-align: center;
}

.underline {
  border-bottom: 1px solid mediumpurple;
  margin-bottom: 10px;
}

.search {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search input {
  flex: 1;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search button {
  padding: 6px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: mediumpurple;
  color: white;
  cursor: pointer;
}

.description {
  margin-top: 20px;
}

.outputCard {
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


.outputCard li {
  margin-bottom: 10px;
}


.apiLink {
  text-align: center;
  margin-top: 20px;
}

/*  navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  background-color: mediumpurple;
  width: 100%;
  padding: 0;
}

.navbar a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  background-color: purple;
}



/* marquee stuff */
.marquee {
  animation-name: spiral;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spiral {
  0% {
    transform: rotate(0deg) translateX(0%);
  }
  100% {
    transform: rotate(720deg) translateX(100%);
  }
}