body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  height: 150vh;
  background-color: #eff1f5;
  color: #4c4f69;
}

a {
  color:#8839ef	;
}

.wrapper {
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
}

.title {
  text-align: center;
}

.underline {
  border-bottom: 1px solid #8839ef	;
  margin-bottom: 15px;
}

.search {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search input {
  flex: 1;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search button {
  padding: 6px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #8839ef	;
  color: white;
  cursor: pointer;
}

.description {
  margin-top: 20px;
}

.outputCard {
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


.outputCard li {
  margin-bottom: 10px;
}


.apiLink {
  text-align: center;
  margin-top: 20px;
}

/*  navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  background-color: #8839ef	;
  width: 100%;
  padding: 0;
}

.navbar a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  color: #eff1f5;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #7287fd;
}



/* marquee stuff */
.marquee {
  animation-name: spiral;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spiral {
  0% {
    transform: rotate(0deg) translateX(0%);
  }
  100% {
    transform: rotate(720deg) translateX(100%);
  }
}

/* drop in animations */
.drop-in {
  animation: drop-in 1s ease 200ms backwards;
 }
 
 .drop-in-2 {
  animation: drop-in 1200ms ease 500ms backwards;
 }
 
 @keyframes drop-in {
  from {
   opacity: 0;
   transform: translateY(-40px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 }

 .reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}